.profile-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.profile-card{
    width: 150px;
    padding: 1rem;
    cursor: pointer;
}

.profile-card:hover img {
    width: 146px;
    border: 2px solid white;
}

.profile-card:hover h2 {
    color: white;
}

.profile-card img {
    display: block;
    width: 100%;
    border-radius: 0.3rem;
}


.profile-card h2{
    text-align: center;
    color: gray
}

.whos {
    text-align: center;
}